spacy
flask
bs4
google_generativeai
transformers 
einops 
accelerate 
langchain 
bitsandbytes
requests
langchain_google_genai
chromadb
streamlit
huggingface
groq
langchain_groq
llama-index
sentence-transformers
langchain_cohere
faiss-cpu
